<form id="search-form" method="POST" action="{{ path('artist_search_results') }}">
    <div class="form-group">
        <label for="search-input">Rechercher un artiste</label>
        <input type="text" id="search-input" name="artist_name" class="form-control" placeholder="Entrez un nom d'artiste" autocomplete="off">
    </div>
    <div id="suggestions" class="suggestions-container"></div> <!-- Conteneur pour les suggestions -->
    <button type="submit" class="btn btn-primary">Rechercher</button>
</form>
<h2>Nouvelles Sorties</h2>
<div class="albums">
    {% for album in newReleases %}
        <div class="album">
            <h3>{{ album.name }}</h3>
            <img src="{{ album.images[0].url }}" alt="{{ album.name }}" style="width: 100px;">
            <p>Artiste: {{ album.artists[0].name }}</p>
            <a href="{{ path('album_info', { id: album.id }) }}">Voir les détails</a>
        </div>
    {% endfor %}
</div>


<style>
    .suggestions-container {
        border: 1px solid #ccc;
        max-height: 200px;
        overflow-y: auto;
        background-color: white;
        display: none;
        position: absolute;
        width: 100%;
        z-index: 1000;
    }

    .suggestion-item {
        padding: 10px;
        cursor: pointer;
    }

    .suggestion-item:hover {
        background-color: #f0f0f0;
    }
</style>



{% block javascript %}
    {# Inclusion de fichiers JavaScript personnalisés #}
    <script src="{{ asset('asset/js/page.js') }}"></script>

{% endblock %} {# Fin du bloc 'javascript' #}
